:root{
    --color-header:#012826;
    --color-nav:#049dbf;
    --color-nav-dark:#02687f;
    --color-section:#03658c;
    --color-aside:#f1f2eb;
    --color-footer:#023859;
    --color-font-white:#fff;
    --color-font-black:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto;
}

.main-header{
    background:var(--color-header) ;
    color: var(--color-font-white);
    line-height:5;
    text-align: center;
}

.main-nav{
    background: var(--color-nav);
}

@media screen and (min-width:768px){
    .nav-container{
        display: flex;
        
    }

    .nav-container-item{
        flex-grow: 1;
    }
}

.nav-container-item{
    text-align: center;
    line-height: 2.5;
    border-bottom: 1px solid var(--color-font-white);
}

.nav-container-item:hover{
    background: var(--color-nav-dark);
    
}

.nav-container-link{
    color: var(--color-font-white);
    display: block;
    width: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media screen and (min-width:1024px){
    .main-container{
        display: flex;
        flex-direction: row;
    }
    .main-container-section{
        flex-basis: 70%;
    }

    .main-container-aside{
        flex-basis: 30;
    }
}

.main-container-section{
    background: var(--color-section);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-font-white);
}

.main-container-aside{
    background: var(--color-aside);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer{
    background: var(--color-footer);
    color:var(--color-font-white);
    line-height: 5;
    text-align: center;
    margin-top: auto;
}
